source: https://www.ers.usda.gov/data-products/county-level-data-sets/
* Poverty (folder)
* Education (folder)
* Unemployment (folder)

source: https://www.playgroundequipment.com/us-states-ranked-by-state-and-national-park-coverage/
* write data from infographic to Google Sheet (single file)

# Import packages

In [1]:
import pandas as pd
import numpy as np

In [2]:
states = ['Washington','Oregon','California','Idaho','Nevada','Utah',
          'Arizona','Montana','Wyoming','Colorado','New Mexico']

# Helper function for reading in data

In [3]:
def filepath(state, folderpath):
    lowercase_state = state.lower().replace(' ','')
    filepath = folderpath + lowercase_state + '.xlsx'
    return filepath

# Read in and clean education data

In [4]:
education_df = []

for state in states:
    path = filepath(state, 'usda/education/')
    frame = pd.read_excel(path)
    frame.columns = frame.iloc[1]
    frame['state'] = state

    education_df.append(frame[3:])
    
education_df = pd.concat(education_df, ignore_index=True)
education_df = education_df[['FIPS','Name','2013 Rural-urban Continuum Code*','2016-2020','state']]
education_df.columns = ['FIPS','county_name','rural-urban-continuum-code','perc-college-educated-2016-2020','state']
education_df = education_df[~education_df['perc-college-educated-2016-2020'].isnull()]

In [5]:
education_df.head()

,FIPS,county_name,rural-urban-continuum-code,perc-college-educated-2016-2020,state
0,53001,"Adams, WA",6,0.138165,Washington
1,53003,"Asotin, WA",3,0.233691,Washington
2,53005,"Benton, WA",2,0.315854,Washington
3,53007,"Chelan, WA",3,0.263702,Washington
4,53009,"Clallam, WA",5,0.288448,Washington

In [6]:
def county_name(x):
    try:
        return x.split(', ')[0]
    except:
        return x

In [7]:
education_df['county_name'] = education_df['county_name'].apply(county_name)

In [8]:
education_df.head()

,FIPS,county_name,rural-urban-continuum-code,perc-college-educated-2016-2020,state
0,53001,Adams,6,0.138165,Washington
1,53003,Asotin,3,0.233691,Washington
2,53005,Benton,2,0.315854,Washington
3,53007,Chelan,3,0.263702,Washington
4,53009,Clallam,5,0.288448,Washington

In [9]:
education_df['perc-college-educated-2016-2020'] = education_df['perc-college-educated-2016-2020'].astype('float')

In [10]:
education_df.dtypes

FIPS                                object
county_name                         object
rural-urban-continuum-code          object
perc-college-educated-2016-2020    float64
state                               object
dtype: object

In [11]:
education_df.to_csv('CLEANED county_education BACKUP.csv')

# Read in and clean poverty data.

In [12]:
poverty_df = []

for state in states:
    path = filepath(state, 'usda/poverty/')
    frame = pd.read_excel(path)
    frame.columns = frame.iloc[3]
    frame['state'] = state

    poverty_df.append(frame[5:-4])
    
poverty_df = pd.concat(poverty_df, ignore_index=True)
poverty_df.columns = ['FIPS','DROP1','DROP2','county_name','DROP3','rural-urban-continuum-code','perc_people_poverty_2020','DROP4',
                      'DROP5','perc_children_poverty_2020','DROP6','DROP7','state']
poverty_df.drop(columns=['DROP1','DROP2','DROP3','DROP4','DROP5','DROP6','DROP7'],inplace=True)

poverty_df.head()

,FIPS,county_name,rural-urban-continuum-code,perc_people_poverty_2020,perc_children_poverty_2020,state
0,53001,Adams,6,12.7,17.0,Washington
1,53003,Asotin,3,14.1,18.5,Washington
2,53005,Benton,2,9.1,11.5,Washington
3,53007,Chelan,3,8.3,11.6,Washington
4,53009,Clallam,5,13.3,18.9,Washington

In [13]:
def float_it(x):
    return float(x)/100

poverty_df['perc_people_poverty_2020'] = poverty_df['perc_people_poverty_2020'].apply(float_it)
poverty_df['perc_children_poverty_2020'] = poverty_df['perc_children_poverty_2020'].apply(float_it)

In [14]:
poverty_df.dtypes

FIPS                           object
county_name                    object
rural-urban-continuum-code     object
perc_people_poverty_2020      float64
perc_children_poverty_2020    float64
state                          object
dtype: object

In [15]:
poverty_df.to_csv('CLEANED county_poverty BACKUP.csv')

# Read in and clean unemployment.

In [16]:
unemployment_df = []

for state in states:
    path = filepath(state, 'usda/unemployment/')
    frame = pd.read_excel(path)
    frame.columns = ['DROP1','FIPS','county_name','2013','2014','2015','2016','2017','2018',
                     '2019','2020','perc_unemployed_2021','median_hh_income','DROP2','perc_state_median_hh_income']
    frame['state'] = state

    unemployment_df.append(frame[3:-2])
    
unemployment_df = pd.concat(unemployment_df, ignore_index=True)
unemployment_df.drop(columns=['DROP1','DROP2','2013','2014','2015','2016','2017','2018','2019','2020'],inplace=True)

In [17]:
def county_name(x):
    try:
        return x.replace(' County','').split(', ')[0]
    except:
        return x

In [18]:
unemployment_df['county_name'] = unemployment_df['county_name'].apply(county_name)

In [19]:
unemployment_df.head()

,FIPS,county_name,perc_unemployed_2021,median_hh_income,perc_state_median_hh_income,state
0,53001,Adams,5.5,56421,0.702461,Washington
1,53003,Asotin,3.7,53377,0.664563,Washington
2,53005,Benton,5.6,75882,0.944758,Washington
3,53007,Chelan,5.3,61546,0.76627,Washington
4,53009,Clallam,6.5,54712,0.681184,Washington

In [20]:
unemployment_df['perc_unemployed_2021'] = unemployment_df['perc_unemployed_2021'].apply(float_it)
unemployment_df['median_hh_income'] = unemployment_df['median_hh_income'].astype('int')
unemployment_df['perc_state_median_hh_income'] = unemployment_df['perc_state_median_hh_income'].astype('float')

In [21]:
unemployment_df.dtypes

FIPS                            object
county_name                     object
perc_unemployed_2021           float64
median_hh_income                 int64
perc_state_median_hh_income    float64
state                           object
dtype: object

In [22]:
unemployment_df.to_csv('CLEANED county_unemployment BACKUP.csv')

# Read in and clean National and State Park data.

In [23]:
parks_df = pd.read_csv('natl_state_park_by_us_state.csv')

In [24]:
parks_df.head()

        state  count_state_park  count_national_park  percent_park
0  California               270                    9        0.0749
1      Oregon               195                    1        0.0046
2  Washington               212                    3        0.0393
3       Idaho                32                    1        0.0016
4      Nevada                23                    0        0.0031

In [25]:
parks_df.dtypes

state                   object
count_state_park         int64
count_national_park      int64
percent_park           float64
dtype: object

In [26]:
parks_df.to_csv('CLEANED state_natl_state_parks BACKUP.csv')